@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

*{
    font-family: "Silkscreen", sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

:root{
    --button: #EF99BF;
}

body{
    background-color: #050407;
    height: 100vh;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#modes{
    display: flex;
    gap: 10px;
}

input{
    display: none;
}

label{
    padding: 10px 15px;
    border: var(--button) solid thick;
    color: var(--button);
}

button{
    padding: 10px 15px;
    background-color: var(--button);
    border: transparent solid thick;
    color: #000;
}

button:hover, label:hover{
    border-color: #fff !important;
}

input:checked + label{
    background-color: var(--button);
    border-color: transparent;
    color: #000;
}


#time{
    font-size: 80px;
    color: #fff;
}

.cycles{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hearts{
    display: flex;
    gap: 15px;
}

.heart{
    height: 20px;
}

#cycle-count{
    color: #fff;
}